@using LotterySim.Business
@model Team

<tr>
    <td>@Model.PickNumber</td>
    <td align="right"><span class=@GetLotteryMovementColor(Model)>@Model.LotteryMovement</span></td>

    <td>@DisplayTeamNameAndImage(Model)  @DisplayHelper.DisplayLockIcon(Model)</td>
    <td>@Model.WinLossRecord</td>
    <td>@Model.WinPercentage</td>
    <td> @Model.LotteryGamesBack</td>
    <td><span class="@GetWinLossStreakColor(@Model)">@Model.WinLossStreak</span></td>
    <td><span class="@GetLast10WinLossColor(@Model)">@Model.LastTenGamesRecord</span></td>
    <td>@Model.TopFourPickOdds</td>
    <td>@Model.TopPickOdds</td>
</tr>

@{
   
    string GetWinLossStreakColor(Team team)
    {
        if (team.WinorLossStreak && team.ConsecutiveWinLoss > 3 && team.ConsecutiveWinLoss < 5) return "text-warning";
        if (team.WinorLossStreak && team.ConsecutiveWinLoss >= 5) return "text-danger";
        if (!team.WinorLossStreak && team.ConsecutiveWinLoss > 3) return "text-success";
        return "";
    }

    string GetLotteryMovementColor(Team team)
    {
        var color = string.Empty;


        if (team.LotteryMovement != null && team.LotteryMovement != string.Empty)
        {
            switch (team.LotteryMovement.First().ToString())
            {
                case "+":
                    color = "text-success";
                    break;
                case "-":
                    color = "text-danger";
                    break;
            }


        }
        return color;

    }

    string GetLast10WinLossColor(Team team)
    {
        if (team.LastTenLosses >= 7) return "text-success";
        if (team.LastTenLosses <= 3) return "text-danger";
        return "";
    }

}

@helper DisplayTeamNameAndImage(Team team)
{
    if (team.PickSwapType == PickSwapType.Swapped)
    {
        <span>
            @GetURLTeamName(team.OriginalTeamName)
            @GetTeamImage(team.OriginalTeamName)
            @DisplayArrow()
            @GetURLTeamName(team.NewTeamName)
            @GetTeamImage(team.NewTeamName)
        </span>
    }
    else
    {
        <span>
            @GetURLTeamName(team.OriginalTeamName)
            @GetTeamImage(team.OriginalTeamName)
        </span>
    }



}

@helper GetTeamImage(string teamname)
{

    var imageString = "~/Content/Images/" + teamname.Replace(" ", "") + ".svg";

    <img src="@Url.Content(imageString)" width="30" height="30" />
}

@helper DisplayArrow()
{
    <i class="bi bi-arrow-right"  style="font-size: 1rem"></i>
}

@helper GetURLTeamName(string teamname)
{
    @Html.ActionLink(teamname, "TeamDetail", new { teamname = teamname }, new { @class = "teamlink" })
}