@using LotterySim.Business.NFL
@model List<LotterySim.Business.NFL.NFLTeam.NFLDraftPick>


@foreach (var pick in Model.Where(p => p.PickNumber <= 18))

{
    @Html.Partial("~/Views/NFL/_NFLStandingsData.cshtml", pick)
}
<tr>
    <td colspan="10" align="center"><strong>WILD CARD ROUND LOSERS</strong></td>
</tr>
@foreach (var pick in Model.Where(p => p.PickNumber > 18 && p.PickNumber <= 24))
{
    @Html.Partial("~/Views/NFL/_NFLStandingsData.cshtml", pick)
}
<tr>
    <td colspan="10" align="center"><strong>DIVISION ROUND LOSERS</strong></td>
</tr>

@foreach (var pick in Model.Where(p => p.PickNumber > 24 && p.PickNumber <= 28))
{
    @Html.Partial("~/Views/NFL/_NFLStandingsData.cshtml", pick)
}

<tr>
    <td colspan="10" align="center"><strong>CONFERENCE CHAMPIONSHIP LOSERS</strong></td>
</tr>

@foreach (var pick in Model.Where(p => p.PickNumber > 28 && p.PickNumber <= 30))
{
    @Html.Partial("~/Views/NFL/_NFLStandingsData.cshtml", pick)
}

<tr>
    <td colspan="10" align="center"><strong>SUPERBOWL TEAMS</strong></td>
</tr>

@foreach (var pick in Model.Where(p => p.PickNumber > 30 && p.PickNumber <= 32))
{
    @Html.Partial("~/Views/NFL/_NFLStandingsData.cshtml", pick)
}