@using LotterySim.Business.NFL
@using LotterySim.Business
@model List<LotterySim.Business.NFL.NFLTeam.Entry>
@{
    ViewBag.Title = "NFL Draft Order";
}

<div align="center">
    <h1 class="mb-3">NFL Draft Order</h1>
</div>

<div class="container">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Pick</th>
                <th scope="col">Team</th>
                <th scope="col">Record</th>
                <th scope="col">WIN %</th>
                <th scope="col">GB</th>
                <th scope="col">Streak</th>
            </tr>
        </thead>
        <tbody>


            @foreach (var entry in GetNFLTeams.GetNFLTeamDraftGroup(Model, 0, 18).OrderBy(p => p.DraftPick))

            {
                @Html.Partial("~/Views/NFL/_NFLStandingsData.cshtml", entry)
            }
            <tr>
                <td colspan="10" align="center"><strong>WILD CARD ROUND LOSERS</strong></td>
            </tr>
            @foreach (var entry in GetNFLTeams.GetNFLTeamDraftGroup(Model, 18, 24).OrderBy(p => p.DraftPick))
            {
                @Html.Partial("~/Views/NFL/_NFLStandingsData.cshtml", entry)
            }
            <tr>
                <td colspan="10" align="center"><strong>DIVISION ROUND LOSERS</strong></td>
            </tr>

            @foreach (var entry in GetNFLTeams.GetNFLTeamDraftGroup(Model, 24, 28).OrderBy(p => p.DraftPick))
            {
                @Html.Partial("~/Views/NFL/_NFLStandingsData.cshtml", entry)
            }

            <tr>
                <td colspan="10" align="center"><strong>CONFERENCE CHAMPIONSHIP LOSERS</strong></td>
            </tr>

            @foreach (var entry in GetNFLTeams.GetNFLTeamDraftGroup(Model, 28, 30).OrderBy(p => p.DraftPick))
            {
                @Html.Partial("~/Views/NFL/_NFLStandingsData.cshtml", entry)
            }

            <tr>
                <td colspan="10" align="center"><strong>SUPERBOWL TEAMS</strong></td>
            </tr>

            @foreach (var entry in GetNFLTeams.GetNFLTeamDraftGroup(Model, 30, 32).OrderBy(p => p.DraftPick))
            {
                @Html.Partial("~/Views/NFL/_NFLStandingsData.cshtml", entry)
            }

        </tbody>
    </table>
</div>