@using LotterySim.Business.NFL
@using LotterySim.Business
@model LotterySim.Business.NFL.NFLTeam.Entry




<div class="container">


    <div class="row">
        <div class="col">


            <img src=@Url.Content(Model.team.logos[0].href) alt="@Model.team.displayName" width="150" height="150" />

        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h2>@Model.team.displayName</h2>
        </div>
        <div class="col">
            <input type="button" name="btnReset" class="btn btn-primary" value="Back to Draft Results" onclick="location.href='@Url.Action("NFLStandings", "NFL")'" />

        </div>

    </div>
    <div class="row">
        <hr />
        <h5>Record: @Model.stats[1].displayValue-@Model.stats[2].displayValue  |  Streak: @Model.stats[9].displayValue</h5>
    </div>


</div>
<p></p>

<div class="container">
    <div class="row"><h2>Draft Picks</h2><hr /></div>


    <div class="card-deck">
        <div class="row">
            @foreach (var pick in Model.DraftPicks)

            {
                <div class="col">
                    <div class="card" style="width: 10rem;">
                        <a href="@Url.Action("TeamDetail", "Home",  new { teamid = pick.OriginalTeam.team.id })">
                            <img class="card-img-top" src=@pick.OriginalTeam.team.logos[0].href alt="@pick.Team.team.displayName" width="150" height="150" />
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Pick#@pick.PickNumber</h5>
                            

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>


<p></p>













